<div class="crud-page-container">
    <h2>Quiz Management</h2>

    <h3>Select segments</h3>
    <div class="file-selection">
      <div class="select-all-button">
        <button (click)="selectAllCategories()">{{ selectAll ? 'Deselect All' : 'Select All' }}</button>
        <button (click)="selectRandomCategories()">Select Random Categories</button>
      </div>
      <div>
        <div class="available-files">
          <label *ngFor="let file of availableFiles">
            <input
              type="checkbox"
              [checked]="selectedFiles.includes(file)"
              (change)="onFileSelection(file, $event)"
            />
            {{ file }}
          </label>
        </div>
        <div class="start-button">
          <button routerLink="/quiz">Start Quiz</button>
        </div>
        <div class="crud-buttons">
          <button routerLink="/quiz-crud/add">Add New Question</button>
        </div>
      </div>
    </div>
  
    <!-- Questions List -->
    <!-- <div>
      <ul class="questions-list">
        <li *ngFor="let question of questions; let i = index">
          {{ question.questionText }}
          <div class="button-wrapper">
            <button [routerLink]="['/quiz-crud/edit', i]">Edit</button>
            
            <button (click)="deleteQuestion(i)">Delete</button>
          </div>
        </li>
      </ul>
    </div> -->
  </div>
  