<div class="wrapper">
  <div class="quiz-container">
    <div *ngIf="!isQuizFinished(); else finishedTemplate">
      <h2>Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}</h2>
      <!-- <p [innerHTML]="getFormattedText(questions[currentQuestionIndex].questionText)"></p> -->
      <pre><code>{{ questions[currentQuestionIndex].questionText }}</code></pre>

      <div *ngFor="let option of questions[currentQuestionIndex]?.options" class="option">
        <label class="option-label">
          <input type="checkbox" name="answer" [value]="option.text" (change)="toggleOption(option.text, $event)" />
          <span [ngClass]="{
            'correct-answer': option.isUserCorrect || option.isUnselected, 
            'incorrect-answer': option.isUserIncorrect 
          }">
            <pre><code>{{ option.text }}</code></pre>
          </span>
        </label>
      </div>

      <div class="actions">
        <!-- <button (click)="previusQuestion()">Back</button>  TODO-->
        <button *ngIf="!isSubmited" (click)="submit()">Submit Answer</button>
        <button *ngIf="!isQuizFinished() && isSubmited" (click)="nextQuestion()">Next</button>
      </div>
    </div>

    <!-- <div *ngIf="showCorrectAnswer">
      <h3>Correct Answers:</h3>
      <div *ngFor="let answer of getCorrectAnswers()">
        <pre><code>{{ answer }}</code></pre>
      </div>
    </div> -->

    <ng-template #finishedTemplate>
      <h2>Quiz Finished!</h2>
      <p>Your score: {{ score }} / {{ questions.length }}</p>
      <button routerLink="/quiz-crud">Restart Quiz</button>
    </ng-template>
  </div>
</div>